
.profile {
    padding: 20px 0 0 0;
    width: 300px;
    height: 407px;
    margin: 40px auto 0 auto;
    background: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
}
.description {
    
}

.avatar {
    border-radius: 50%;
    max-width: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background: #baafaf;

}
.name{
    
    font-weight: 700;
    font-size: 25px;
    margin: 15px 0;
}
.tag {
   
    font-weight: 500;
    font-size: 15px;
    margin: 0 0 15px 0;
}
.location{
   
    font-weight: 500;
    font-size: 15px;
    margin: 0 0 25px 0;

}

.stats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 
    list-style: none;
    border-top: 1px solid #2f2f2f;
    margin: 0;
    padding: 0;
    
}

.stats li:not(:last-child) {
    border-right: 1px solid #2f2f2f;
}
.stats li {
    padding: 15px 15px;
    
}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 8px;
    
}

.quantity {
    font-weight: 500;
}